<ux-container>

    <ux-button (click)="dostuff()" [icon]="'send'" [text]="'Submit'"></ux-button>
    <!--<ux-text class=" col s4" [(text)]="user.username" [icon]="'account_circle'" [label]="'Username'"></ux-text>
    <ux-text class="s4" [(text)]="user.password" [icon]="'vpn_key'" [label]="'Password'"></ux-text>-->
    <p1 *ngFor="#checkpoint of checkpoints">
        {{checkpoint.title}}
    </p1>
    <ux-dropdown></ux-dropdown>
    <ux-card [title]="'Super Cool Tutorial'" [description]="'There was once a man named Bardy'"></ux-card>
</ux-container>