<ux-container>
    <h2 class="header center">Add a Tutorial</h2>
     <div class="row">
        <ux-text class="col s6" [(text)]="checkpoint.name" [label]="'Checkpoint Name'"></ux-text>
        <ux-text class="col s6" [(text)]="checkpoint.tutorialUrl" [label]="'Tutorial URL'"></ux-text>
    </div>
    <div class="row">
        <h5 class="header center">Categorize It</h5>
         <sp-tag-select-control [vertical]="true" (selectedTagsChanged)="tagsChanged($event);"></sp-tag-select-control>
       
    </div>
    <div *ngIf="selectedTags.length == 4" class="row center">
         <ux-button (click)="createCheckpoint();" [icon]="'done'">Create Tutorial</ux-button>
    </div>

</ux-container>