<ux-container>
    <ux-text [(text)]="checkpoint.title" [label]="'Checkpoint Title'"></ux-text>
    <ux-text [(text)]="checkpoint.tutorialUrl" [label]="'Tutorial URL'"></ux-text>
    <!--<ux-text [(text)]="dog" [label]="'Type Stuff!'"></ux-text>
    <ux-text [(text)]="dog" [label]="'Type Stuff!'"></ux-text>-->
    <ux-button (click)="createCheckpoint();" [icon]="'send'">Create Checkpoint</ux-button>
    <ux-button (click)="firebaseTest();" [icon]="'person'">Firebase Test</ux-button>
</ux-container>