<ux-container>
    <h2 class="header">Create New Checkpoint</h2>
     <div class="row">
        <ux-text class="col s6" [(text)]="checkpoint.name" [label]="'Checkpoint Name'"></ux-text>
        <ux-text class="col s6" [(text)]="checkpoint.tutorialUrl" [label]="'Tutorial URL'"></ux-text>
    </div>
    <div class="row">
         <sp-tag-select-control [vertical]="true" (selectedTagsChanged)="tagsChanged($event);"></sp-tag-select-control>
       
    </div>
    <div *ngIf="selectedTags.length == 4" class="row">
         <ux-button (click)="createCheckpoint();" [icon]="'person'">Create New Checkpoint</ux-button>
        <ux-button (click)="getCheckpoints();" [icon]="'person'">Get Checkpoints</ux-button>
    </div>
    

    <!--<div class="row">
        <div class="col s3 m3 l3">
            <ux-text [(text)]="selectedTier1Tag.name" (textChange)="onTagChanged(selectedTier1Tag);" [label]="'Tag Name'"></ux-text>
            <ux-button (click)="createTag(selectedTier1Tag)">Create T1 Tag</ux-button>
        </div>
        <div [hidden]="!selectedTier1Tag.name" class="col s3 m3 l3">
            <ux-text [(text)]="selectedTier2Tag.name" (textChange)="onTagChanged(selectedTier2Tag);" [label]="'Tag Name'"></ux-text>
            <ux-button (click)="createTag(selectedTier2Tag)">Create T2 Tag</ux-button>
        </div>
          <div [hidden]="!selectedTier2Tag.name" class="col s3 m3 l3">
            <ux-text [(text)]="selectedTier3Tag.name" (textChange)="onTagChanged(selectedTier3Tag);" [label]="'Tag Name'"></ux-text>
            <ux-button (click)="createTag(selectedTier3Tag)">Create T3 Tag</ux-button>
        </div>
          <div [hidden]="!selectedTier3Tag.name" class="col s3 m3 l3">
            <ux-text [(text)]="selectedTier4Tag.name" (textChange)="onTagChanged(selectedTier4Tag);" [label]="'Tag Name'"></ux-text>
            <ux-button (click)="createTag(selectedTier4Tag)">Create T4 Tag</ux-button>
        </div>
    </div>-->
   
   <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" (click)="showTagModal();">Modal</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a (click)="closeTagModal();" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>


</ux-container>