<div class="container">
    <div class="row center">
        <div [class.col]="!vertical" [class.row]="vertical" >
            <ux-dropdown 
                [ngClass]="getDropdownClasses()"
                [(model)]="selectedTier1Tag"
                (modelChange)="onTagChanged(selectedTier1Tag)"
                [label]="'Path'"
                [placeholder]="'Choose your Path'"
                [options]="tier1Tags" 
                [nameProperty]="'name'" 
                [valueProperty]="'key'"></ux-dropdown>
            <sp-new-tag-modal 
                *ngIf="vertical" 
                [ngClass]="getAddTagClasses()" 
                [id]="'tag1Modal'" 
                [model]="selectedTier1Tag"></sp-new-tag-modal>
        </div>
        <div [hidden]="!selectedTier2Tag.parent" [class.col]="!vertical" [class.row.center]="vertical">
            <ux-dropdown [(model)]="selectedTier2Tag"
                [ngClass]="getDropdownClasses()"
                (modelChange)="onTagChanged(selectedTier2Tag);"
                [label]="'Focus'" 
                [placeholder]="'Select your Focus'"
                [options]="tier2Tags" 
                [nameProperty]="'name'" 
                [valueProperty]="'key'"></ux-dropdown>
            <sp-new-tag-modal 
                *ngIf="vertical" 
                [ngClass]="getAddTagClasses()" 
                [id]="'tag2Modal'" 
                [model]="selectedTier2Tag"></sp-new-tag-modal>
        </div>
        <div [hidden]="!selectedTier3Tag.parent" [class.col]="!vertical" [class.row]="vertical">
            <ux-dropdown [(model)]="selectedTier3Tag"
                [ngClass]="getDropdownClasses()"
                (modelChange)="onTagChanged(selectedTier3Tag);"
                [label]="'Technology'" 
                [placeholder]="'Choose your Technology'"
                [options]="tier3Tags" 
                [nameProperty]="'name'" 
                [valueProperty]="'key'"></ux-dropdown>
            <sp-new-tag-modal 
                *ngIf="vertical" 
                [ngClass]="getAddTagClasses()" 
                [id]="'tag3Modal'" 
                [(model)]="selectedTier3Tag"></sp-new-tag-modal>
        </div>

        <div [hidden]="!selectedTier4Tag.parent" [class.col]="!vertical" [class.row]="vertical">
            <ux-dropdown [(model)]="selectedTier4Tag"
                [ngClass]="getDropdownClasses()"
                (modelChange)="onTagChanged(selectedTier4Tag);"
                [label]="'Category'"
                [placeholder]="'Select a Category'"
                [options]="tier4Tags" 
                [nameProperty]="'name'" 
                [valueProperty]="'key'"></ux-dropdown>
            <sp-new-tag-modal 
                *ngIf="vertical" 
                [ngClass]="getAddTagClasses()" 
                [id]="'tag4Modal'" 
                [(model)]="selectedTier4Tag"></sp-new-tag-modal>
        </div>
        
    </div>
</div>
